@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  max-width: 60%;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 100%;
  height: 5vh;
  border: 1px solid black;
}

#output {
  font-size: 40px;
  padding: 2rem;
}

#output span {
  padding: 0.5rem;
  cursor: pointer;
}
